body {
    background-color: #1f1f2e;
    color: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: #2d2d3f;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.header {
    text-align: center;
    background-color: #414153;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.info {
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
.info a {
    color: #31a688;
    text-decoration: none;
}

.chat-container {
    flex: 1;
    overflow-y: auto;
}

.chat-box {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

#chat-log {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}

#chat-log i {
    margin-right: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.bot, .user {
    display: flex;
    align-items: flex-start;
    color: #eeeeee;
    width: 100%;
    padding: 15px 7px 15px 10px;
    border-radius: 6px;
}

.bot {
    background-color: #414153;
}

.user {
    background-color: #31a688;
}

#chat-log #user-icon i {
    background-color: #31a688;
    padding: 10px 11px;
}

#chat-log #bot-icon i {
    background-color: #9a6ecc;
    padding: 10px 11px;
}

.input-container {
    display: flex;
    border-top: 1px solid #414153;
    background-color: #2d2d3f;
}

#user-input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    background-color: #2d2d3f;
    color: #fff;
    font-size: 14px;
}

#send-button {
    background: none;
    border: none;
    color: #31a688;
    font-size: 18px;
    padding: 0 15px;
    cursor: pointer;
}
